@charset "UTF-8";

#userAdd {
  min-width: 320px;
	max-width: 400px;
  width: 100%;
	margin: 20px auto;
}

#userAdd form {
	background-color: #fff;
}

#userAdd form div {
	margin: 15px auto;
}

#userAdd label {
	display: block;
	font-weight: 700;
  padding: 0 0 5px;
}

#userAdd form fieldset {
	border: 1px solid #ced4da;
	border-radius: .25rem;
	box-shadow: 1px 1px 5px 1px rgba(206,212,218,1);
  padding: 15px;
}

input {
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	color: #495057;
	font-weight: 400;
	line-height: 2.25;
	width: 97%;
}

input#zipCode {
	width: auto;
}

input[type="submit"].button {
	display: block;
}
