@charset "UTF-8";

/*
Memo couleur:
Couleur bleu : #4D87E3
Couleur rouge : #F75252
*/

/***** 1.0 RESET
http://meyerweb.com/eric/tools/css/reset/ v1.0 | 20080212
*****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,address,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;
padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:
transparent;}
body{line-height:1.5;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* remember to define focus styles! */
:focus{outline:0;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del,s{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}


body {
	background-color: #F5F5F5;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
}

h1 {
	font-size: 2em;
	font-weight: 700;
  padding: 5px;
	text-align: center;
}

a {
	text-decoration: none;
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #343a40;
	color: #fff;
	padding: .5rem 1rem;
}

nav li {
	display: inline-block;
	list-style-type: none;
	padding: 4px 6px;
}

nav li a {
	display: inline-block;
	color: rgba(255,255,255,1);
	line-height: 40px;
	vertical-align: middle;
}

nav li a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.button {
	display: block;
	background-color: #4D87E3;
	border-radius: 10px;
	color: #fff;
	margin: 0 auto;
	text-transform: uppercase;
	width: 45%;
}

.error {
	color: #F75252;
}
