@charset "UTF-8";

#usersList {
	margin: 20px auto;
	width: 95%;
}

#usersList .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#usersList .header .button {
	display: inline-block;
	width: auto;
	font-size: 90%;
	margin: 0;
	padding: .5em 1em;
	text-transform: uppercase;
}

#usersList .header a {
	color: #fff;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: auto;
	width: 100%;
}
table tbody {
	background-color: #fff;
}

table th {
	color: rgba(51, 51, 51,.6);
	text-align: left;
}

table tr {
	border-bottom: 1px solid #F5F5F5;
}

table button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.flex {
	display: flex;
	justify-content: space-around;
}
